<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATONnFTz1dyRe4v2JmwIqpP-3bgcpm6vU</string>
	<key>GCM_SENDER_ID</key>
	<string>272345755335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginfire</string>
	<key>PROJECT_ID</key>
	<string>loginfire-8de07</string>
	<key>STORAGE_BUCKET</key>
	<string>loginfire-8de07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272345755335:ios:4a46de98da3e9a5a5cd8e2</string>
</dict>
</plist>